body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
header, footer{
    background-color: #1F2937;
    padding:16px;
}
/********************HEADER***************/
.header{
    display: flex;
    justify-content: space-around; 
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul{
    margin: 0;
    padding:0;
    list-style: none;
    display: flex;
    gap:18px;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.title{
    display: flex;
    justify-content: space-around;
    padding: 48px;
}
h1{
    font-size: 48px;
    font-weight: bold;
    color:#f9faf8;
    margin: 0;  
}
p{
    margin:0;
}

.left{
 max-width: 27%;
 color: #e5e7eb;
}
.left button{
    padding:5px 20px;
    color:#f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    margin:10px 0;
    font-weight: bold;
}
.title figure{
    background-color: #e5e7eb;
    max-width:25%;
    margin:0px;
    width:250px;
}

.title img{
    width: 100%;
}

/*******************CONTENT****************************/

.content-1{
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color:#1F2937;
    padding:48px;
}
.content-1 h2{
    width:100%;
    text-align: center;
    font-size: 36px;
}
.figcaption{
    width:20%;
    gap:16px;
    text-align: center;
}
.figcaption figure{
    border: 5px solid #3882f6;
    border-radius: 5px;
    padding:80px 50px;
}
.content-2{
    background-color: #e5e7eb;
    color: #1F2937;
    padding:48px;
}
.content-2 figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.content-2 figcaption{
    font-weight: bold;
}
blockquote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    width:50%;
}
figure figcaption{
    margin-left: 500px;
}
/*********************FOOTER****************************/

h3{
    margin:0;
    font-weight: bold;
}
.footer{
    padding: 150px;
    color:#f9faf8;
    display: flex;
    justify-content: center;
}
.bottom{
    background-color: #3882f6;
    border-radius: 5px;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:80%;
}
.bottom button{
    border: 3px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: bold;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f9faf8;
    font-size: 16px;
}
footer img{
    width:18px;
}